body {
  margin= 0;
}
/* Header */
header {
  display: flex;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
}

.headerlogo {
  display: inline-flex;
  color: MediumAquamarine;
}

.navheader {
  display: inline-flex;
}

.navheader li {
  display: inline-block;
}

.navheader a {
  color: Black;
}
/* main content */

content {
  display: flex;
}

.section {
  display: flex;
  flex-flow: column wrap;
  border: 1px black solid;
}
/* columns */
.first.section {
  width: 630px;
}

.second.section {
  width: 300px;
}

.third.section {
  width: 240px;
}
/* articles */

.article {
  border: 1px black dotted;
}